@page
@model CourseWeb.Pages.IndexModel
@{
    Layout = "Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">



<body>




    <section id="hero">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8 col-lg-3 offset-md-2 padding-large ps-lg-0 pe-lg-5 p-5">
                    <h2 class="display-2 fw-semibold">Great Online Platform</h2>
                    <p class="secondary-font my-4 pb-2">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis
                        fugit at quia
                        tenetur expedita, consequuntur aspernatur explicabo earum odio.
                    </p>
                    <div>
                        <form id="form" class="d-flex justify-content-between position-relative">
                            <input type="text" name="email" placeholder="Search Your Courses ..." class="form-control w-100">
                            <button class="btn btn-primary px-4 py-2 position-absolute end-0"
                                    style="height: -webkit-fill-available;">
                                <iconify-icon icon="ion:search" class="fs-4 py-1"
                                              style="vertical-align: middle;"></iconify-icon>
                            </button>
                        </form>

                    </div>
                </div>
                <div class="col-md-4 col-lg-7 d-block d-md-none d-lg-block p-5">
                    <img src="images/billboard-img.jpg" alt="img" class="img-fluid">
                </div>
            </div>
        </div>
    </section>

    <section id="service" class="padding-medium">
        <div class="container">
            <div class="text-center">
                <h2 class="display-5 fw-semibold">Why to <span class="text-primary"> choose us</span></h2>
                <p class="secondary-font">Get many features from us exactly what you are looking for.</p>
            </div>

            <div class="row g-md-4 mt-2">
                <div class="col-md-4 mt-4">
                    <div class="services-element p-4 rounded-3 d-flex">
                        <div>
                            <iconify-icon class="service-icon fs-1" icon="fluent:notepad-person-24-regular"></iconify-icon>
                        </div>

                        <div class="ps-3">
                            <h4 class="py-2 m-0">Professional Instruction</h4>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio sint dolores cupiditate, commodi
                                voluptatem corrupti voluptatibus quisquam officiis quod id.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mt-4">
                    <div class="services-element p-4 rounded-3 d-flex">
                        <div>
                            <iconify-icon class="service-icon fs-1" icon="la:certificate"></iconify-icon>
                        </div>

                        <div class="ps-3">
                            <h4 class="py-2 m-0">Certified Courses</h4>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio sint dolores cupiditate, commodi
                                voluptatem corrupti voluptatibus quisquam officiis quod id.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mt-4">
                    <div class="services-element p-4 rounded-3 d-flex">
                        <div>
                            <iconify-icon class="service-icon fs-1" icon="mdi:virtual-meeting"></iconify-icon>
                        </div>

                        <div class="ps-3">
                            <h4 class="py-2 m-0">Learn Courses Online</h4>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio sint dolores cupiditate, commodi
                                voluptatem corrupti voluptatibus quisquam officiis quod id.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mt-4">
                    <div class="services-element p-4 rounded-3 d-flex">
                        <div>
                            <iconify-icon class="service-icon fs-1" icon="mdi:school-online"></iconify-icon>
                        </div>

                        <div class="ps-3">
                            <h4 class="py-2 m-0">5000+ Online Courses</h4>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio sint dolores cupiditate, commodi
                                voluptatem corrupti voluptatibus quisquam officiis quod id.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mt-4">
                    <div class="services-element p-4 rounded-3 d-flex">
                        <div>
                            <iconify-icon class="service-icon fs-1" icon="uil:notebooks"></iconify-icon>
                        </div>

                        <div class="ps-3">
                            <h4 class="py-2 m-0">Free Online Ebooks</h4>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio sint dolores cupiditate, commodi
                                voluptatem corrupti voluptatibus quisquam officiis quod id.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mt-4">
                    <div class="services-element p-4 rounded-3 d-flex">
                        <div>
                            <iconify-icon class="service-icon fs-1" icon="uiw:global"></iconify-icon>
                        </div>

                        <div class="ps-3">
                            <h4 class="py-2 m-0">Global Location</h4>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio sint dolores cupiditate, commodi
                                voluptatem corrupti voluptatibus quisquam officiis quod id.
                            </p>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </section>

    <section id="register">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-md-6 ">
                    <img src="images/register-img.png" alt="img" class="img-fluid">
                </div>
                <div class="col-md-4 ">
                    <div class="mb-5 mt-5 mt-lg-0">
                        <h2 class="display-5 fw-semibold"> Get Your <span class="text-primary">Skills Certificate</span></h2>
                        <p class="secondary-font">
                            Simple steps to get your quality skills certificate
                            through WorldCourse.
                        </p>
                    </div>

                    <form id="form">
                        <input type="text" name="email" placeholder="Write Your Name*" class="form-control w-100 mb-4">
                        <input type="email" name="email" placeholder="Write Your Email Address*" class="form-control w-100 mb-4">
                        <button class="btn btn-primary px-5 py-3 mt-2"> Get Started now</button>
                    </form>

                </div>

            </div>
        </div>
    </section>
    <!----------------------------------ListCourse---->
    <section id="top-sell" class="padding-medium">
        <div class="container">

            <div class="text-center mb-5">
                <h2 class="display-5 fw-semibold">Check our <span class="text-primary">top selling courses</span></h2>
                <p class="secondary-font">Peoples are not only searching but buying these products.</p>
            </div>

            <div class="text-center mb-3">
                <p class="m-0">
                    <button class="filter-button px-3 py-2 mt-2 rounded-pill me-4  active" data-filter="*">All</button>
                    <button class="filter-button px-3 py-2 mt-2 rounded-pill me-4 " data-filter=".digital">
                        Digital
                        marketing
                    </button>
                    <button class="filter-button px-3 py-2 mt-2 rounded-pill me-4 " data-filter=".web">Web design</button>
                    <button class="filter-button px-3 py-2 mt-2 rounded-pill me-4 " data-filter=".photo">Photography</button>
                    <button class="filter-button px-3 py-2 mt-2 rounded-pill me-4 " data-filter=".business">Bussiness</button>
                    <button class="filter-button px-3 py-2 mt-2 rounded-pill me-4 " data-filter=".video">Video editing</button>
                </p>
            </div>

            <div class="isotope-container row">

                <div class="item digital col-md-4 col-lg-3 my-5">
                    <div class="z-1 position-absolute m-3">
                        <span class="badge text-muted bg-primary">12 Weeks</span>
                    </div>
                    <div class="card position-relative">
                        <a href="courses-details.html"><img src="images/item4.jpg" class="img-fluid rounded-3" alt="image"></a>
                        <div class="card-body p-0">

                            <span class="badge text-muted bg-success mt-3 mb-1">Beginner</span>

                            <a href="courses-details.html">
                                <h5 class="py-2 m-0">The Complete Package of Digital Marketing Courses</h5>
                            </a>

                            <div class="card-text">
                                <span class="rating d-flex align-items-center mb-2">
                                    <p class="text-muted fw-semibold m-0 me-2">James Willam</p>
                                    <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                    <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                    <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                    <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                    <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                </span>

                                <h4 class=" text-primary">
                                    $180.00 <span class="fs-6 text-black opacity-25 text-decoration-line-through">240.00</span>
                                </h4>

                                <div class="d-flex flex-wrap mt-2">
                                    <a href="#" class=" btn btn-outline-dark text-capitalize me-2 px-4 py-3">Enroll Now</a>
                                    <a href="#" class=" btn btn-outline-dark text-capitalize ">
                                        <iconify-icon icon="mdi:heart-outline" class="fs-5 pt-1"></iconify-icon>
                                    </a>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
                <div class="item web col-md-4 col-lg-3 my-5">
                    <div class="z-1 position-absolute m-3">
                        <span class="badge text-muted bg-primary">10 Weeks</span>
                    </div>
                    <div class="card position-relative">
                        <a href="courses-details.html"><img src="images/item3.jpg" class="img-fluid rounded-3" alt="image"></a>
                        <div class="card-body p-0">

                            <span class="badge text-muted bg-success mt-3 mb-1">Expert</span>

                            <a href="courses-details.html">
                                <h5 class="py-2 m-0">Top Marketing Strategy Courses - 15 Courses in 1</h5>
                            </a>

                            <div class="card-text">
                                <span class="rating d-flex align-items-center mb-2">
                                    <p class="text-muted fw-semibold m-0 me-2">2D Course</p>
                                    <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                    <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                    <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                    <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                    <iconify-icon icon="clarity:half-star-solid" class="text-primary"></iconify-icon>
                                </span>

                                <h4 class=" text-primary">
                                    $180.00 <span class="fs-6 text-black opacity-25 text-decoration-line-through">240.00</span>
                                </h4>

                                <div class="d-flex flex-wrap mt-2">
                                    <a href="#" class=" btn btn-outline-dark text-capitalize me-2 px-4 py-3">Enroll Now</a>
                                    <a href="#" class=" btn btn-outline-dark text-capitalize ">
                                        <iconify-icon icon="mdi:heart-outline" class="fs-5 pt-1"></iconify-icon>
                                    </a>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
                <div class="item photo col-md-4 col-lg-3 my-5">
                    <div class="z-1 position-absolute m-3">
                        <span class="badge text-muted bg-primary">15 Weeks</span>
                    </div>
                    <div class="card position-relative">
                        <a href="courses-details.html"><img src="images/item1.jpg" class="img-fluid rounded-3" alt="image"></a>
                        <div class="card-body p-0">

                            <span class="badge text-muted bg-success mt-3 mb-1">All Level</span>

                            <a href="courses-details.html">
                                <h5 class="py-2 m-0">Digital Marketing Masterclass - Complete Guide</h5>
                            </a>

                            <div class="card-text">
                                <span class="rating d-flex align-items-center mb-2">
                                    <p class="text-muted fw-semibold m-0 me-2">Wokka Stary</p>
                                    <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                    <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                    <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                    <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                    <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                </span>

                                <h4 class=" text-primary">
                                    $180.00 <span class="fs-6 text-black opacity-25 text-decoration-line-through">240.00</span>
                                </h4>

                                <div class="d-flex flex-wrap mt-2">
                                    <a href="#" class=" btn btn-outline-dark text-capitalize me-2 px-4 py-3">Enroll Now</a>
                                    <a href="#" class=" btn btn-outline-dark text-capitalize ">
                                        <iconify-icon icon="mdi:heart-outline" class="fs-5 pt-1"></iconify-icon>
                                    </a>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
                <div class="item business col-md-4 col-lg-3 my-5">
                    <div class="z-1 position-absolute m-3">
                        <span class="badge text-muted bg-primary">20 Weeks</span>
                    </div>
                    <div class="card position-relative">
                        <a href="courses-details.html"><img src="images/item2.jpg" class="img-fluid rounded-3" alt="image"></a>
                        <div class="card-body p-0">

                            <span class="badge text-muted bg-success mt-3 mb-1">Beginner</span>

                            <a href="courses-details.html">
                                <h5 class="py-2 m-0">Mega Digital Marketing Course A to Z - Full Course</h5>
                            </a>

                            <div class="card-text">
                                <span class="rating d-flex align-items-center mb-2">
                                    <p class="text-muted fw-semibold m-0 me-2">Christin Hanby</p>
                                    <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                    <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                    <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                    <iconify-icon icon="clarity:half-star-solid" class="text-primary"></iconify-icon>
                                    <iconify-icon icon="clarity:star-line" class="text-primary"></iconify-icon>
                                </span>

                                <h4 class=" text-primary">
                                    $180.00 <span class="fs-6 text-black opacity-25 text-decoration-line-through">240.00</span>
                                </h4>

                                <div class="d-flex flex-wrap mt-2">
                                    <a href="#" class=" btn btn-outline-dark text-capitalize me-2 px-4 py-3">Enroll Now</a>
                                    <a href="#" class=" btn btn-outline-dark text-capitalize ">
                                        <iconify-icon icon="mdi:heart-outline" class="fs-5 pt-1"></iconify-icon>
                                    </a>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
                <div class="item video col-md-4 col-lg-3 my-5">
                    <div class="z-1 position-absolute m-3">
                        <span class="badge text-muted bg-primary">12 Weeks</span>
                    </div>
                    <div class="card position-relative">
                        <a href="courses-details.html"><img src="images/item5.jpg" class="img-fluid rounded-3" alt="image"></a>
                        <div class="card-body p-0">

                            <span class="badge text-muted bg-success mt-3 mb-1">Beginner</span>

                            <a href="courses-details.html">
                                <h5 class="py-2 m-0">The Complete Package of Digital Marketing Courses</h5>
                            </a>

                            <div class="card-text">
                                <span class="rating d-flex align-items-center mb-2">
                                    <p class="text-muted fw-semibold m-0 me-2">James Willam</p>
                                    <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                    <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                    <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                    <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                    <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                </span>

                                <h4 class=" text-primary">
                                    $180.00 <span class="fs-6 text-black opacity-25 text-decoration-line-through">240.00</span>
                                </h4>

                                <div class="d-flex flex-wrap mt-2">
                                    <a href="#" class=" btn btn-outline-dark text-capitalize me-2 px-4 py-3">Enroll Now</a>
                                    <a href="#" class=" btn btn-outline-dark text-capitalize ">
                                        <iconify-icon icon="mdi:heart-outline" class="fs-5 pt-1"></iconify-icon>
                                    </a>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
                <div class="item web col-md-4 col-lg-3 my-5">
                    <div class="z-1 position-absolute m-3">
                        <span class="badge text-muted bg-primary">10 Weeks</span>
                    </div>
                    <div class="card position-relative">
                        <a href="courses-details.html"><img src="images/item6.jpg" class="img-fluid rounded-3" alt="image"></a>
                        <div class="card-body p-0">

                            <span class="badge text-muted bg-success mt-3 mb-1">Expert</span>

                            <a href="courses-details.html">
                                <h5 class="py-2 m-0">Top Marketing Strategy Courses - 15 Courses in 1</h5>
                            </a>

                            <div class="card-text">
                                <span class="rating d-flex align-items-center mb-2">
                                    <p class="text-muted fw-semibold m-0 me-2">2D Course</p>
                                    <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                    <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                    <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                    <iconify-icon icon="clarity:half-star-solid" class="text-primary"></iconify-icon>
                                    <iconify-icon icon="clarity:star-line" class="text-primary"></iconify-icon>
                                </span>

                                <h4 class=" text-primary">
                                    $180.00 <span class="fs-6 text-black opacity-25 text-decoration-line-through">240.00</span>
                                </h4>

                                <div class="d-flex flex-wrap mt-2">
                                    <a href="#" class=" btn btn-outline-dark text-capitalize me-2 px-4 py-3">Enroll Now</a>
                                    <a href="#" class=" btn btn-outline-dark text-capitalize ">
                                        <iconify-icon icon="mdi:heart-outline" class="fs-5 pt-1"></iconify-icon>
                                    </a>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
                <div class="item photo col-md-4 col-lg-3 my-5">
                    <div class="z-1 position-absolute m-3">
                        <span class="badge text-muted bg-primary">15 Weeks</span>
                    </div>
                    <div class="card position-relative">
                        <a href="courses-details.html"><img src="images/item7.jpg" class="img-fluid rounded-3" alt="image"></a>
                        <div class="card-body p-0">

                            <span class="badge text-muted bg-success mt-3 mb-1">All Level</span>

                            <a href="courses-details.html">
                                <h5 class="py-2 m-0">Digital Marketing Masterclass - Complete Guide</h5>
                            </a>

                            <div class="card-text">
                                <span class="rating d-flex align-items-center mb-2">
                                    <p class="text-muted fw-semibold m-0 me-2">Wokka Stary</p>
                                    <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                    <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                    <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                    <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                    <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                </span>

                                <h4 class=" text-primary">
                                    $180.00 <span class="fs-6 text-black opacity-25 text-decoration-line-through">240.00</span>
                                </h4>

                                <div class="d-flex flex-wrap mt-2">
                                    <a href="#" class=" btn btn-outline-dark text-capitalize me-2 px-4 py-3">Enroll Now</a>
                                    <a href="#" class=" btn btn-outline-dark text-capitalize ">
                                        <iconify-icon icon="mdi:heart-outline" class="fs-5 pt-1"></iconify-icon>
                                    </a>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
                <div class="item business col-md-4 col-lg-3 my-5">
                    <div class="z-1 position-absolute m-3">
                        <span class="badge text-muted bg-primary">20 Weeks</span>
                    </div>
                    <div class="card position-relative">
                        <a href="courses-details.html"><img src="images/item8.jpg" class="img-fluid rounded-3" alt="image"></a>
                        <div class="card-body p-0">

                            <span class="badge text-muted bg-success mt-3 mb-1">Beginner</span>

                            <a href="courses-details.html">
                                <h5 class="py-2 m-0">Mega Digital Marketing Course A to Z - Full Course</h5>
                            </a>

                            <div class="card-text">
                                <span class="rating d-flex align-items-center mb-2">
                                    <p class="text-muted fw-semibold m-0 me-2">Christin Hanby</p>
                                    <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                    <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                    <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                    <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                    <iconify-icon icon="clarity:half-star-solid" class="text-primary"></iconify-icon>
                                </span>

                                <h4 class=" text-primary">
                                    $180.00 <span class="fs-6 text-black opacity-25 text-decoration-line-through">240.00</span>
                                </h4>

                                <div class="d-flex flex-wrap mt-2">
                                    <a href="#" class=" btn btn-outline-dark text-capitalize me-2 px-4 py-3">Enroll Now</a>
                                    <a href="#" class=" btn btn-outline-dark text-capitalize ">
                                        <iconify-icon icon="mdi:heart-outline" class="fs-5 pt-1"></iconify-icon>
                                    </a>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>

            </div>


        </div>
    </section>

    <section id="achivement" style="background-color: #f5f5f5;">
        <div class="container padding-medium">
            <div class="row">
                <div class="col-md-3">
                    <div class="text-center">
                        <img src="images/topic.png" alt="img" class="img-fluid">
                        <h4 class="py-2 mt-3 m-0">300+ Topics</h4>
                        <p class="text-uppercase">choose your choice</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="text-center">
                        <img src="images/student.png" alt="img" class="img-fluid">
                        <h4 class="py-2 mt-3 m-0">1000+ Students</h4>
                        <p class="text-uppercase">bright future</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="text-center">
                        <img src="images/instruction.png" alt="img" class="img-fluid">
                        <h4 class="py-2 mt-3 m-0">300+ Instructors</h4>
                        <p class="text-uppercase">trained professionals</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="text-center">
                        <img src="images/award.png" alt="img" class="img-fluid">
                        <h4 class="py-2 mt-3 m-0">120+ Awards</h4>
                        <p class="text-uppercase">hard process</p>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section id="blog" class="padding-medium">
        <div class="container">
            <div class="text-center">
                <h2 class="display-5 fw-semibold">view our <span class="text-primary"> latest blogs</span></h2>
                <p class="secondary-font">Get many features from us exactly what you are looking for.</p>
            </div>

            <div class="row ">
                <div class="col-md-4 my-5">
                    <div class="blog-post">
                        <a href="single-post.html">
                            <div class="image-holder zoom-effect rounded-3">
                                <img src="images/blog2.jpg" alt="img" class="post-image img-fluid rounded-3">
                            </div>
                        </a>
                        <div class="mt-3">
                            <a href="#">
                                <p class="text-black-50 m-1">Dec 1, 2024</p>
                            </a>
                            <a href="single-post.html">
                                <h4 class="m-0">Education Is For Human Greatness And Achievments</h4>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 my-5">
                    <div class="blog-post">
                        <a href="single-post.html">
                            <div class="image-holder zoom-effect rounded-3">
                                <img src="images/blog1.jpg" alt="img" class="post-image img-fluid rounded-3">
                            </div>
                        </a>
                        <div class="mt-3">
                            <a href="#">
                                <p class="text-black-50 m-1">Dec 5, 2024</p>
                            </a>
                            <a href="single-post.html">
                                <h4 class="m-0">The State Of Learn And Develop Tips In 2020</h4>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 my-5">
                    <div class="blog-post">
                        <a href="single-post.html">
                            <div class="image-holder zoom-effect rounded-3">
                                <img src="images/blog3.jpg" alt="img" class="post-image img-fluid rounded-3">
                            </div>
                        </a>
                        <div class="mt-3">
                            <a href="#">
                                <p class="text-black-50 m-1">Dec 10, 2024</p>
                            </a>
                            <a href="single-post.html">
                                <h4 class="m-0">Special Tips For Learning Trends During The Outbreaks</h4>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="text-center">
                <a href="blog.html" class="btn btn-primary px-5 py-3 "> view all</a>
            </div>

        </div>
    </section>

    <section id="testimonial" style="background-image:url(images/background-img.jpg); background-repeat: no-repeat; ">
        <div class="container padding-medium">
            <div class="text-center">
                <h2 class="display-5 fw-semibold">see what our <span class="text-primary"> learners say</span></h2>
                <p class="secondary-font">Here we got the real proof to express our work. Our learners expressed our work.</p>
            </div>
            <div class="row">
                <div class="offset-md-1 col-md-10">
                    <div class="swiper testimonial-swiper">
                        <div class="swiper-wrapper">

                            <div class="swiper-slide">
                                <div class="text-center my-4">
                                    <img src="images/reviewer-1.jpg" alt="img" class="img-fluid rounded-circle">
                                    <h5 class="m-0 mt-2">Recco Gracia</h5>
                                    <p class="text-muted">Web Developer</p>
                                    <p class="lh-lg fw-bold text-black-50">
                                        “Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                                        do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                        exercitation ullamco laboris nisi ut aliquip ex ea. Consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt enim ad minim veniam”
                                    </p>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="text-center my-4">
                                    <img src="images/reviewer-2.jpg" alt="img" class="img-fluid rounded-circle">
                                    <h5 class="m-0 mt-2">Georgie Maggie</h5>
                                    <p class="text-muted">Digital Marketer</p>
                                    <p class="lh-lg fw-bold text-black-50">
                                        “Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                                        do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                        exercitation ullamco laboris nisi ut aliquip ex ea. Consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt enim ad minim veniam”
                                    </p>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="text-center my-4">
                                    <img src="images/reviewer-3.jpg" alt="img" class="img-fluid rounded-circle">
                                    <h5 class="m-0 mt-2">Emmy Watson</h5>
                                    <p class="text-muted">Photographer</p>
                                    <p class="lh-lg fw-bold text-black-50">
                                        “Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                                        do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                        exercitation ullamco laboris nisi ut aliquip ex ea. Consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt enim ad minim veniam”
                                    </p>
                                </div>
                            </div>


                        </div>

                        <div class="swiper-pagination"></div>

                    </div>
                </div>
            </div>
        </div>


    </section>

    <footer id="footer">
        <div class="container padding-medium ">
            <div class="row">
                <div class="col-md-4 my-3">
                    <h5 class="text-uppercase fw-bold mb-4">Contact us</h5>
                    <p>
                        <iconify-icon class="social-icon text-primary fs-5 me-2" icon="mdi:location"
                                      style="vertical-align:text-bottom"></iconify-icon> <span class="fw-bold">Address: </span> 30 E Lake St,
                        Chicago, USA
                    </p>
                    <p>
                        <iconify-icon class="social-icon text-primary fs-5 me-2" icon="solar:phone-bold"
                                      style="vertical-align:text-bottom"></iconify-icon> <span class="fw-bold">Phone: </span> (510) 710-3464
                    </p>
                    <p>
                        <iconify-icon class="social-icon text-primary fs-5 me-2" icon="ic:baseline-email"
                                      style="vertical-align:text-bottom"></iconify-icon> <span class="fw-bold">Email: </span>
                        info@worldcourse.com
                    </p>
                </div>
                <div class="col-md-2 my-3">
                    <div class="footer-menu">
                        <h5 class="text-uppercase fw-bold mb-4">Links</h5>
                        <ul class="menu-list list-unstyled">
                            <li class="menu-item mb-2">
                                <a href="#" class="footer-link">Home</a>
                            </li>
                            <li class="menu-item mb-2">
                                <a href="#" class="footer-link">About us</a>
                            </li>
                            <li class="menu-item mb-2">
                                <a href="#" class="footer-link">Courses</a>
                            </li>
                            <li class="menu-item mb-2">
                                <a href="#" class="footer-link">Blogs</a>
                            </li>
                            <li class="menu-item mb-2">
                                <a href="#" class="footer-link">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2 my-3">
                    <div class="footer-menu">
                        <h5 class="text-uppercase fw-bold mb-4">support</h5>
                        <ul class="menu-list list-unstyled">
                            <li class="menu-item mb-2">
                                <a href="#">FAQs</a>
                            </li>
                            <li class="menu-item mb-2">
                                <a href="#">Support</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 my-3">
                    <div class="footer-menu">
                        <h5 class="text-uppercase fw-bold mb-4">Follow us</h5>
                        <div class="social-links mt-4">
                            <ul class="d-flex list-unstyled gap-3">
                                <li class="social">
                                    <a href="#">
                                        <iconify-icon class="social-icon fs-4 me-2" icon="ri:facebook-fill"></iconify-icon>
                                    </a>
                                </li>
                                <li class="social">
                                    <a href="#">
                                        <iconify-icon class="social-icon fs-4 me-2" icon="ri:twitter-fill"></iconify-icon>
                                    </a>
                                </li>
                                <li class="social">
                                    <a href="#">
                                        <iconify-icon class="social-icon fs-4 me-2" icon="ri:pinterest-fill"></iconify-icon>
                                    </a>
                                </li>
                                <li class="social">
                                    <a href="#">
                                        <iconify-icon class="social-icon fs-4 me-2" icon="ri:instagram-fill"></iconify-icon>
                                    </a>
                                </li>
                                <li class="social">
                                    <a href="#">
                                        <iconify-icon class="social-icon fs-4 me-2" icon="ri:youtube-fill"></iconify-icon>
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <div id="footer-bottom">
        <hr class="m-0 text-black-50">
        <div class="container py-3">
            <div class="row mt-3">
                <div class="col-md-6 copyright">
                    <p>© 2024 WorldCourse. All rights reserved.</p>
                </div>
                <div class="col-md-6 text-md-end">
                    <p>
                        Free HTML Template by <a href="https://templatesjungle.com/" target="_blank"
                                                 class="text-decoration-underline fw-bold"> TemplatesJungle</a>
                    </p>
                </div>
            </div>
        </div>
    </div>


   
</body>

</html>